{% extends 'base.html' %}

{% block content %}
  <br>
  <h1 class='text-center' style='font-weight: bolder'>UPDATE</h1>
  <hr>
  <form action="{% url 'movies:update' movie.pk %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-info" value="UPDATE">
      <input type="submit" class="btn btn-secondary" value="CANCLE">
  </form>
  <br>
  <a href="{% url 'movies:detail' movie.pk %}">
    <button type="button" class="btn btn-warning">BACK</button>
  </a>
{% endblock content %}